@import 'utils/variables';
@import 'components/type';

@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Lobster&display=swap');


body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

li{
    list-style: none;
}

#rightBtn{
    position: absolute;
    top:40vh ;
    left: 10px;
}
#leftBtn{
    position: absolute;
    top:40vh ;
    right: 10px;
}

#orientation-message {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 350px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    z-index: 1000;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
}

@media screen and (orientation: portrait) {
    #orientation-message {
        display: flex;
    }
}
.tooltip-container {
    position: relative;
    display: inline-block;
    margin-top: 30px;
    margin-left: 20px;
  }
  
  .tooltip-target {
    cursor: pointer;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
  }
  
  .tooltip-bubble {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
   
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .tooltip-container:hover .tooltip-bubble {
    visibility: visible;
    opacity: 1;
  }
  #title__first{
    display: none;
  }
  #title__two{
    display: none;
  }
  #title__three{
    display: none;
  }
  #title__four{
    display: none;
  }
.deco{
    display: none;
}

  #background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-size: 400%;
    background-image:url('../assets/images/panorama-tfa.png');
    background-repeat: repeat-x;
    z-index: -20;
}
.characters {
    display: flex;
    justify-content: center;
    
   
}
.adobe{
    width: 10%;
}
.character {
    display: none;
    width: 100px; 
    height: 30px; 
    background-size: cover;
    z-index: 2;
    margin-top: 100px;
    
}


.visible {
    display: block ;
}
.pocito{
    grid-column: 1;
   position: relative;
}
.myself{
    width: 30%;
}
.pourque{
    grid-column: 1;
    position: relative;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 36px;
    padding: 36px;
}
.image__projet{
    grid-column: 1;
    width: 70%;
}
.projets{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 36px;
    padding: 36px;
}
#title__hello{
    display: none;
}
#title__decem{
    display: none;
}
#title__rething{
    display: none;
}
#title__data{
    display: none;
}
    h1{
        font-size:  51px;
        font-family: 'lobster';
    }
    h2{
        font-size:36px ;
        font-family: 'lobster';
    }
    h3{
        font-family: 'lobster';
        font-size: 25px;
    }
    p{
        font-size: 18px;
        font-family: 'cabin';
    }
    
    .portfolio{
        position: absolute;
        top: 60vh;
    }
    @media (max-width: 1024px) {
        .slider{
            display: none;
        }
    }

    @media (max-width: 1024px) and (min-width: 769px) {
        .grid-container {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 36px;
            padding: 36px;
    }
    .pocito{
        grid-column: 1/3;
       
    }
    .myself{
        position: relative;
        width: 80%;
        top: 100px;
    }
    .pourque{
        grid-column: 2/4;
        
    }
    .portfolio{
        top: 80vh;
    }
    .image__projet{
        grid-column: 1/3;
    }
    .portfolio__compet{
        grid-column: 1/3;
    }
    .character{
        position: relative;
        top: 130px;
    }
    .billy{
        width: 90%;
    }
        h1{
            font-size: 57px;
        }
        h2{
            font-size: 40px;
        }
        p{
            font-size: 20px;
        }
        
    }
    @media (min-width: 1024px)  and (max-width: 1599px) {
        .grid-container {
            display: grid;
            grid-template-columns: repeat(9, 1fr);
            gap: 22px;
            padding: 62px;
    }
    .slider{
        display: grid;
        grid-column: 1/7;
        margin-top: -300px;
    }
    .promobile{
        display: none;
        visibility: hidden;
    }
    .deco{
        display: grid;
        position: relative;
        width: 60%;
        grid-column: 7/10;
        top: 20vh;
    }
    .portfolio__compet{
        grid-column: 2/6;
      }
      .portfolio__midtitle{
        grid-column: 2/5;
      }
      .portfolio__presentation{
        grid-column: 2/7;
      }
    .portfolio{
        top: 100vh;
    }
    #leftBtn{
        display: none;
    }
    #rightBtn{
        display: none;
    }
p{
    font-size: 22px;
    /*width: 45ch;*/
    font-family: "cabin";
}
h1{
    font-size: 62px;
    font-family: "lobster";
}
h2{
    font-size: 44px;
    font-family: "lobster";
}
.image__projet{
    display: grid;
    grid-column: 7/10;
    width: 50%;
}
.portfolio__littletitle{
    grid-column: 2/4;

}
.billy{
    width: 130%;
}
.character{
    margin-top: 350px;
    z-index: -1;

}
.portfolio{

    top: 100vh;
}
.pourque{
    grid-column: 5/10;
    width: 100%;
}
.pocito{
    grid-column: 2/6;
    width: 100%;
}

#title__first{
    display: flex;
    position: absolute;
    left: 30%;
    top: 50%;
    font-size: 88px;
    z-index: -10;
  }
  #title__two{
    display: flex;
    position: absolute;
    left: 200%;
    top: 50%;
    font-size: 88px;
    z-index: -10;
  }
  #title__three{
    display: flex;
    position: absolute;
    top: 50%;
    left: 350%;
    font-size: 88px;
    z-index: -10;
  }
  #title__four{
    display: flex;
    position: absolute;
    top: 50%;
    left: 390%;
    font-size: 88px;
    z-index: -10;
  }
  .myself{
    position: relative;
    width: 100%;
    grid-column: 7/10;
    top: 20%;
  }
    }

    @media (min-width: 1600px) {
        .grid-container {
            display: grid;
            grid-template-columns: repeat(9, 1fr);
            gap: 22px;
            padding: 62px;
    }
    .promobile{
        display: none;
        visibility: hidden;
    }
    .deco{
        display: grid;
        position: relative;
        width: 60%;
        grid-column: 7/10;
        top: 20vh;
    }
    .portfolio__compet{
        grid-column: 2/6;
      }
      .portfolio__midtitle{
        grid-column: 2/5;
      }
      .portfolio__presentation{
        grid-column: 2/7;
      }
    .portfolio{
        top: 100vh;
    }
    #leftBtn{
        display: none;
    }
    #rightBtn{
        display: none;
    }
p{
    font-size: 22px;
    /*width: 45ch;*/
    font-family: "cabin";
}
h1{
    font-size: 62px;
    font-family: "lobster";
}
h2{
    font-size: 44px;
    font-family: "lobster";
}
.image__projet{
    display: grid;
    grid-column: 7/10;
    width: 50%;
}
.portfolio__littletitle{
    grid-column: 2/4;

}
.billy{
    width: 130%;
}
.character{
    margin-top: 370px;
    z-index: -1;

}
.portfolio{

    top: 90vh;
}
.pourque{
    grid-column: 5/10;
}
.pocito{
    grid-column: 2/6;
}

        
        #leftBtn{
            display: none;
        }
        #rightBtn{
            display: none;
        }
    #title__hello{
        display: flex;
        display: flex;
    position: absolute;
    left: 30%;
    top: 50%;
    font-size: 88px;
    z-index: -10;
    }
    #title__decem{
        display: flex;
        display: flex;
    position: absolute;
    left: 400%;
    top: 50%;
    font-size: 88px;
    z-index: -10;
    }
    #title__rething{
        display: flex;
        display: flex;
    position: absolute;
    left: 400%;
    top: 50%;
    font-size: 88px;
    z-index: -10;
    }
    #title__data{
        display: flex;
        display: flex;
    position: absolute;
    left: 400%;
    top: 50%;
    font-size: 88px;
    z-index: -10;
    }
    body{
        overflow-x: hidden;
    }
}
